body {
    background-color: beige;
}

h1 {
    color: cornflowerblue;
}

/**
active라는 이름의 class
어떤 element(h1, span 등등)든 tomato color를 갖게 됨
*/
.active {
    color: tomato;
}
.appFont {
    font-size: small;
}